
<mat-chip-list multiple [selectable]="true"  >

    <mat-chip *ngFor="let item of activePageDataChunk" [selected]="item.state" (click)="item.state=!item.state;changeSelected(item)">{{item.field}} </mat-chip>
 
</mat-chip-list>

  <button mat-button (click)="selectAllRecord()">Select All</button>
  <button mat-button (click)="clearAllRecord()">Clear All</button>

  <button mat-button (click)="paginator.previousPage()"><<</button>
 <button mat-button *ngFor="let pages of paginatorArray">{{pages}}</button>
  <button mat-button (click)="paginator.nextPage()">>></button>
<mat-paginator style="display:none" [length]="length" [pageSize]="pageSize" #paginator [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)">

</mat-paginator>
